/venv/
**/__pycache__/**
pytorch
descriptions
descriptions_json
corpora

resource/
new_experiment/*
experiment_csv/*
catboost_info
desc_regression
**/deprecated/**

test.*

new_experiment/
new_exp_backup/
corpora_old
*.zip
*.xlsx